<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
    {% load staticfiles %}
   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Andrew Burger</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{% static 'templateindex/css/default.css' %}">
	<link rel="stylesheet" href="{% static 'templateindex/css/layout.css' %}">
   <link rel="stylesheet" href="{% static 'templateindex/css/media-queries.css' %}">
   <link rel="stylesheet" href="{% static 'templateindex/css/magnific-popup.css' %}">

   <!-- Script
   ================================================== -->
	<script src="{% static 'templateindex/js/modernizr.js' %}"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'templateindex/favicon.png' %}" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#education">Education</a></li>
            <li><a class="smoothscroll" href="#workexperiance">Work Experiance</a></li>
            <li><a class="smoothscroll" href="#otherexperiance">Other Experiance</a></li>
            <li><a class="smoothscroll" href="#volunteering">Volunteering</a></li>
            <li><a class="smoothscroll" href="#certifications">Certifications</a></li>
            <li><a class="smoothscroll" href="#skills">Skills</a></li>
            <li><a class="smoothscroll" href="#portfolio">Portfolio</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Andrew Burger.</h1>
            <h3>I'm a Seattle based <span>programmer</span>, creating awesome and effective programs and websites for companies of all sizes around the globe.
             Let's <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
               <li><a href="https://www.facebook.com/andrewburger4838"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com/andrewixl"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://plus.google.com/u/0/+AndrewBurgerandrewixl"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="https://www.linkedin.com/in/andrewburger4383/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/andrewixl/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://www.andrewburger.gq/"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="https://hatscripts.com/addskype?andrewixl"><i class="fa fa-skype"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="{% static 'templateindex/images/profilepic.jpg' %}" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>
              I am  a self-motivated developer with a strong understanding of both compiled and non-complied languages, great communication skills, and the ability to thrive in a fast-paced environment.
              I am actively looking to work with a fun and creative team to transform good ideas into worthwhile ventures, and change the world.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Andrew Burger</span><br>
						   <span>23285 SE 34th PL<br>
						         Sammamish, WA 98075 US
                     </span><br>
						   <span>(425) 919-3389</span><br>
                     <span>andrewburger.gq</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="https://1drv.ms/b/s!AuQG4oMtOOi4kKRjx2EdihmTh71zTw" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">
      <!-- Education -->
      <div class="row education" id="education" style="padding-top: 100px; margin-top: -100px;">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

           <div class="row item">

              <div class="twelve columns">

                 <h3>Pennsylvania State University</h3>
                 <p class="info">State College, Pennsylvania<span>&bull;</span> <em class="date">2018 - Present</em></p>

                 <p>
                 Computer Science Major
                 </p>

              </div>

           </div> <!-- item end -->

           <div class="row item">

              <div class="twelve columns">

                 <h3>Newport High School</h3>
                 <p class="info">Bellevue, Washington<span>&bull;</span> <em class="date">2017 - 2018</em></p>

                 <p>
                 AP Student
                 </p>

              </div>

           </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Skyline High School</h3>
                  <p class="info">Sammamish, Washington<span>&bull;</span> <em class="date">2014 - 2018</em></p>

                  <p>
                  Honors and IB Certificate Student
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Coding Dojo Bootcamp</h3>
                  <p class="info">Bellevue, Washington<span>&bull;</span> <em class="date">June 2017 – December 2017</em></p>

                  <p>
                  Full Stack Web Development {Python, MEAN, C#, ASP.NET Core, Web Fundamentals}
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->

      <!-- Work -->
      <div class="row work" id="workexperiance" style="padding-top: 100px; margin-top: -100px;">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>University Park Undergraduate Association</h3>
                  <p class="info">Graphic Designer<span>&bull;</span> <em class="date">August 2018 – January 2019</em></p>

                  <p>
                    The University Park Undergraduate Association (UPUA) is Penn State's student government. As a graphic
                    designer, I am tasked with creating appealing and engaging print material (flyers, posters, etc.), as
                    well as social media material (Facebook and Instagram posts).
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Bellevue School District</h3>
                  <p class="info">Summer Technical Support<span>&bull;</span> <em class="date">June 2018 – August 2018</em></p>

                  <p>
                    This position is responsible for performing varied work in the Technology Department, moving, hauling,
                    installing, testing, and repairing computer equipment. Assist with laptop maintenance, imaging, etching,
                    and testing.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Ideoclick, Inc.</h3>
                  <p class="info">Intern Product Manager<span>&bull;</span> <em class="date">June 2016 - January 2019</em></p>

                  <p>
                    My primary responsibilities include writing reports for potential bugs, fixes, or improvements to the company’s main online user interface.
                    I mainly focused on testing new functions of programs developed by the company and partner companies before release to public users.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->

      <!-- Other Experiance -->
      <div class="row work" id="otherexperiance" style="padding-top: 100px; margin-top: -100px;">

         <div class="three columns header-col">
            <h1><span>Other Experiance</span></h1>
         </div>

         <div class="nine columns main-col">

           <div class="row item">

              <div class="twelve columns">

                 <h3>Skyline High School FIRST Robotics Club</h3>
                 <p class="info">Sammamish, Washington<span>&bull;</span> <em class="date">September 2014 - June 2018</em></p>

                 <p>
                   The SHS Robotics Team is a student-run club dedicated to inspiring and nurturing youths in the fields of STEAM.
                   I held the Position of Director of Fundraising for 1 Year, and Position of Treasurer for 2 Years on the club Executive Board.
                 </p>

              </div>

           </div> <!-- item end -->

           <div class="row item">

              <div class="twelve columns">

                 <h3>Newport High School Cisco Networking CCNA Academy</h3>
                 <p class="info">Bellevue, Washington<span>&bull;</span> <em class="date">September 2017 - June 2018</em></p>

                 <p>
                  This course, presented by Cisco Certified instructors, provides students with classroom and laboratory experience in how to design, build, and manage corporate enterprise networks.
                  Instruction included: safety, networking, network terminology and protocols, LANS, WANS, OSI model, cabling, router programming, Ethernet, Fiber Optics, and TCP/IP and network standards.
                 </p>

              </div>

           </div> <!-- item end -->

           <div class="row item">

              <div class="twelve columns">

                 <h3>Codeday - Eastside</h3>
                 <p class="info">Bellevue, Washington<span>&bull;</span> <em class="date">2017 - 2018</em></p>

                 <p>
                  CodeDay is a worldwide event where student programmers, artists, musicians, actors, and everyone else can get together and build apps & games for 24 hours.
                 </p>

              </div>

           </div> <!-- item end -->

           <div class="row item">

              <div class="twelve columns">

                 <h3>Applied Electrical Engineering Course</h3>
                 <p class="info">Skyline High School<span>&bull;</span> <em class="date">September 2016 - June 2017</em></p>

                 <p>
                   A project-based course that integrates STEAM to teach students the fundamentals of electrical engineering.
                   Content Includes: Engineering foundations, electricity, analog and digital circuitry, integrated circuits,
                   circuit design, programmable logic, logic circuits, sequential logic, memory devices, counters, logic gates,
                   microcontrollers.

                 </p>

              </div>

           </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Java 1 & 2 Program Development Course</h3>
                  <p class="info">University of Washington PCE<span>&bull;</span> <em class="date">June 2016 - July 2016</em></p>

                  <p>
                    Fundamentals taughted included Algorithms, Loops, Exception Handling, Graphical User Interfaces, Object-Oriented Programming, and Polymorphism.
                    Actively developed and tested new applications to be used in Skyline High School Robotics for Attendance and Purchase Order Management.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Mobile Application Development Course</h3>
                  <p class="info">DigiPen Institute of Technology<span>&bull;</span> <em class="date">June 2013 - July 2013</em></p>

                  <p>
                    Primary responsibilities included the development of a new original Android Application.
                    I developed and tested an adventure, role playing, strategy video game, “Zombie Apocalypse 3033”.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Introduction to Computer Science Course</h3>
                  <p class="info">DigiPen Institute of Technology<span>&bull;</span> <em class="date">June 2012 - July 2012</em></p>

                  <p>
                    I developed an interactive game where players work through levels of increasing difficulty, “Super Space Fighters”.
                    Created and tested the game in the language C++ with the ProjectFun code blender.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Other Experiance -->

      <!-- Volunteering -->
      <div class="row work" id="volunteering" style="padding-top: 100px; margin-top: -100px;">

         <div class="three columns header-col">
            <h1><span>Volunteering</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>The Antigua Project @ Newport High School Cisco</h3>
                  <p class="info">Project Assistant<span>&bull;</span> <em class="date">August 2018 – January 2019</em></p>

                  <p>
                    Over the course of ten years eight trips to countries like Antigua where students spend two weeks or more
                    immersing themselves in local culture while setting up computer labs have been coordinated, funded, and
                    organized by students.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Skyline High School All for Autism Club (AFA)</h3>
                  <p class="info">Vice President<span>&bull;</span> <em class="date">August 2018 – January 2019</em></p>

                  <p>
                    SHS AFA Club is a group of Students, who raise money to support families involved with Autism through the
                    organization Autism Speaks. Held Position of Vice President for 1 Year on the club Executive Board.

                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Eastside Baby Corner</h3>
                  <p class="info">Volunteer<span>&bull;</span> <em class="date">June 2018 – August 2018</em></p>

                  <p>
                    The collection and purchasing children’s items and distributing them, free of charge, through local social
                    service agencies.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Northwest Harvest</h3>
                  <p class="info">Volunteer<span>&bull;</span> <em class="date">June 2016 - January 2019</em></p>

                  <p>
                    Providing nutritious food to hungry people statewide in a manner that respects their dignity, while fighting to
                    eliminate hunger.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Mountain to Sound Greenway</h3>
                  <p class="info">Volunteer<span>&bull;</span> <em class="date">June 2016 - January 2019</em></p>

                  <p>
                    The Mountains to Sound Greenway Trust leads and inspires action to conserve and enhance the landscape from Seattle
                    across the Cascade Mountains to Central Washington, ensuring a long-term balance between people and nature.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Volunteering -->

      <!-- Certifications -->
      <div class="row work" id="certifications" style="padding-top: 100px; margin-top: -100px;">

         <div class="three columns header-col">
            <h1><span>Certifications</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Cisco Certified Network Associate (CCNA)</h3>
                  <p class="info">Routing & Switching<span>&bull;</span> <em class="date">June 2018 – June 2021</em></p>

                  <p>
                    CCNA (Cisco Certified Network Associate) is an information technology (IT) certification from Cisco Systems.
                    CCNA certification is an associate-level Cisco Career certification.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Comp TIA A+</h3>
                  <p class="info"><em class="date">Anticipated Before May 2019</em></p>

                  <p>
                    Earned accreditation from the American National Standards Institute (ANSI). A+ certification represents
                    entry-level competency as a computer technician and is a vendor neutral certification that covers various
                    technologies and operating systems.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Certifications-->


      <!-- Skills -->
      <div class="row skill" id="skills" style="padding-top: 100px; margin-top: -100px;">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>Below are listed my top 9 skills categories related to computer science. To find a more in-depth list please visit my PDF resume located at the link above.
            </p>

				<!--<div class="bars">

				   <ul class="skills">
					  <li><span class="bar-expand htmlcss"></span><em>HTML 5 / CSS</em></li>
            <li><span class="bar-expand j"></span><em>JavaScript / JQuery</em></li>
						<li><span class="bar-expand django"></span><em>Django / Python</em></li>
						<li><span class="bar-expand java"></span><em>Java</em></li>
						<li><span class="bar-expand sql"></span><em>MySQL / SQLite</em></li>
            <li><span class="bar-expand github"></span><em>Github / Amazon Web Services</em></li>
					</ul>

				</div>--><!-- end skill-bars -->

        <div class="row item">

           <div class="twelve columns">

              <h3>Programming Languages</h3>
                <div class="six columns">
                  <ul style="list-style-type:disc;">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                    <li>jQuery</li>
                  </ul>
                </div>
                <div class="six columns">
                  <ul style="list-style-type:disc;">
                    <li>C#</li>
                    <li>JavaScript</li>
                    <li>Python</li>
                    <li>SQL</li>
                  </ul>
                </div>

           </div>

        </div> <!-- item end -->

        <div class="row item">

           <div class="twelve columns">

              <h3>Frameworks</h3>
              <div class="six columns">
                <ul style="list-style-type:disc;">
                  <li>Django</li>
                  <li>Flask</li>
                </ul>
              </div>
              <div class="six columns">
                <ul style="list-style-type:disc;">
                  <li>ASP.NET Core</li>
                  <li>MVC</li>
                </ul>
              </div>

           </div>

        </div> <!-- item end -->

        <div class="row item">

           <div class="twelve columns">

              <h3>Databases</h3>
              <div class="six columns">
                <ul style="list-style-type:disc;">
                  <li>MySQL</li>
                  <li>SQLite</li>
                </ul>
              </div>
              <div class="six columns">
                <ul style="list-style-type:disc;">
                  <li>Microsoft Access</li>
                </ul>
              </div>

           </div>

        </div> <!-- item end -->

        <div class="row item">

           <div class="twelve columns">

              <h3>Server</h3>
              <div class="six columns">
                <ul style="list-style-type:disc;">
                  <li>VM-Ware ESXI</li>
                  <li>Ubuntu Server 16.04.X</li>
                  <li>Windows Server 2016/2012</li>
                </ul>
              </div>
              <div class="six columns">
                <ul style="list-style-type:disc;">
                  <li>Active Directory</li>
                  <li>Hyper-V</li>
                </ul>
              </div>

           </div>

        </div> <!-- item end -->

           <div class="row item">

              <div class="twelve columns">

                 <h3>Imaging</h3>
                 <div class="six columns">
                   <ul style="list-style-type:disc;">
                     <li>Deployment Workbench/Toolkit (MDT)</li>
                     <li>Windows Deployment Services (WDS)</li>
                     <li>Group Policy (GPO)</li>
                   </ul>
                 </div>
                 <div class="six columns">
                   <ul style="list-style-type:disc;">
                     <li>Sysprep & Capture</li>
                     <li>System Center Configuration Manager (SCCM)</li>
                     <li>DISM</li>
                   </ul>
                 </div>

              </div>

           </div> <!-- item end -->

           <div class="row item">

              <div class="twelve columns">

                 <h3>Networking</h3>
                 <div class="six columns">
                   <ul style="list-style-type:disc;">
                     <li>TCP / IP</li>
                     <li>Subnetting</li>
                     <li>DHCP</li>
                   </ul>
                 </div>
                 <div class="six columns">
                   <ul style="list-style-type:disc;">
                     <li>DNS</li>
                     <li>VLAN's</li>
                     <li>Cisco IOS</li>
                   </ul>
                 </div>

              </div>

           </div> <!-- item end -->

           <div class="row item">

              <div class="twelve columns">

                 <h3>Operating Systems</h3>
                 <div class="six columns">
                   <ul style="list-style-type:disc;">
                     <li>Windows 10</li>
                     <li>Windows 8.1</li>
                     <li>Windows 8</li>
                     <li>Windows 7</li>
                   </ul>
                 </div>
                 <div class="six columns">
                   <ul style="list-style-type:disc;">
                     <li>Windows Server 2016</li>
                     <li>Windows Server 2012</li>
                     <li>OSX</li>
                     <li>Ubuntu</li>
                   </ul>
                 </div>

              </div>

           </div> <!-- item end -->

           <div class="row item">

              <div class="twelve columns">

                 <h3>Microsoft Office</h3>
                 <div class="six columns">
                   <ul style="list-style-type:disc;">
                     <li>Office 365</li>
                     <li>Office 2019</li>
                     <li>Office 2016</li>
                   </ul>
                 </div>
                 <div class="six columns">
                   <ul style="list-style-type:disc;">
                     <li>Office 2013</li>
                     <li>Office 2010</li>
                     <li>Office Deployment Tool</li>
                   </ul>
                 </div>

              </div>

           </div> <!-- item end -->

           <div class="row item">

              <div class="twelve columns">

                 <h3>Other Programs</h3>
                 <div class="six columns">
                   <ul style="list-style-type:disc;">
                     <li>Git / Github</li>
                     <li>Eclipse</li>
                     <li>Netbeans</li>
                     <li>Atom</li>
                   </ul>
                 </div>
                 <div class="six columns">
                   <ul style="list-style-type:disc;">
                     <li>Visual Studio</li>
                     <li>Adobe Illustrator</li>
                     <li>Adobe Photoshop</li>
                     <li>Adobe Premiere</li>
                   </ul>
                 </div>

              </div>

           </div> <!-- item end -->

        </div> <!-- item end -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>Check Out Some of My Works.</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-02" title="">
                        <img alt="" src="{% static 'templateindex/images/portfolio/ideoclick.png' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>IdeoClick, Inc.</h5>
                              <p>Website Development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-03" title="">
                        <img alt="" src="{% static 'templateindex/images/portfolio/posystem.png' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Purchase Order System</h5>
                              <p>Website Development and Financial Management</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-04" title="">
                        <img alt="" src="{% static 'templateindex/images/portfolio/defuse.png' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Defuse the Situation</h5>
                              <p>Website Development and Game Design</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

              <div class="columns portfolio-item">
                 <div class="item-wrap">

                    <a href="#modal-01" title="">
                       <img alt="" src="{% static 'templateindex/images/portfolio/emgraymedia.png' %}">
                       <div class="overlay">
                          <div class="portfolio-item-meta">
                         <h5>Em Gray Media</h5>
                             <p>Website, Marketing, and Brand Development.</p>
                      </div>
                       </div>
                       <div class="link-icon"><i class="icon-plus"></i></div>
                    </a>

                 </div>
             </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-05" title="">
                        <img alt="" src="{% static 'templateindex/images/portfolio/peopleshop.png' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>People Shop</h5>
                              <p>Drop Shipping, Branding, Marketing, and Website Development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div>
              <!-- item end -->

               <!-- <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-06" title="">
                        <img alt="" src="{% static 'templateindex/images/portfolio/girl.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Girl</h5>
                              <p>Photography</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> -->
               <!-- item end -->

               <!-- <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-07" title="">
                        <img alt="" src="{% static 'templateindex/images/portfolio/origami.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Origami</h5>
                              <p>Illustrration</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div>  -->
              <!-- item end -->

               <!-- <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-08" title="">
                        <img alt="" src="{% static 'templateindex/images/portfolio/retrocam.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Retrocam</h5>
                              <p>Web Development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div>  -->
               <!-- item end -->

            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->


         <!-- Modal Popup -->

         <div id="modal-01" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'templateindex/images/portfolio/modals/m-emgraymedia.png' %}" alt="" />

		      <div class="description-box">
			      <h4>Em Gray Media</h4>
			      <p>Website created to market to her audience and fully show off her skills in a business portfolio formed website.</p>
               <span class="categories"><i class="fa fa-tag"></i>Webdesign, Branding, Marketing</span>
		      </div>

            <div class="link-box">
               <a href="http://www.emgraymedia.gq">Visit</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 End -->

         <div id="modal-02" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'templateindex/images/portfolio/modals/m-ideoclick.png' %}" alt="" />

		      <div class="description-box">
			      <h4>Ideoclick, Inc.</h4>
			      <p>Website created to market the company showing a modern current age view.</p>
               <span class="categories"><i class="fa fa-tag"></i>Website Development</span>
		      </div>

            <div class="link-box">
               <a href="http://www.ideoclickdemosite.gq">View</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-02 End -->

         <div id="modal-03" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'templateindex/images/portfolio/modals/m-posystem.png' %}" alt="" />

		      <div class="description-box">
			      <h4>PO System for Skyline High School</h4>
			      <p>Used to Manage Orders and Finacial Accounts Within Clubs for Skyline High School</p>
               <span class="categories"><i class="fa fa-tag"></i>Marketing, Finacial, Order Management</span>
		      </div>

            <div class="link-box">
               <a href="http://www.posystem.gq/">View</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-03 End -->

         <div id="modal-04" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'templateindex/images/portfolio/modals/m-diffuse.png' %}" alt="" />

		      <div class="description-box">
			      <h4>Defuse the Situation</h4>
			      <p>Defuse the Situation is a new take on the classics "Mafia" and "Keep Talking, and Nobody Explodes". Created using Discord Bot to manage the overall gameplay with a live score screen to track your game on the big screen.</p>
               <span class="categories"><i class="fa fa-tag"></i>Website Development, Game Design</span>
		      </div>

            <div class="link-box">
               <a href="http://www.defusethesituation.tk/">Visit</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-04 End -->

         <div id="modal-05" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'templateindex/images/portfolio/modals/m-peopleshop.png' %}" alt="" />

		      <div class="description-box">
			      <h4>People Shop</h4>
			      <p>Online E-Commerce Drop Shipping Site built to sell men's and women's clothing, as well as accessories.</p>
               <span class="categories"><i class="fa fa-tag"></i>Drop Shipping, Branding, Marketing, Website Development</span>
		      </div>

            <div class="link-box">
               <a href="http://peopleshop.gq/">Visit</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div>

         <div id="modal-06" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'templateindex/images/portfolio/modals/m-girl.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Girl</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Photography</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-06 End -->

         <div id="modal-07" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'templateindex/images/portfolio/modals/m-origami.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Origami</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Illustration</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-07 End -->

         <div id="modal-08" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'templateindex/images/portfolio/modals/m-retrocam.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Retrocam</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Webdesign, Photography</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 End -->


      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->

   <!-- Testimonials Section -->
   <!-- <section id="testimonials">

      <div class="text-container">

         <div class="row">

            <div class="two columns header-col">

               <h1><span>Client Testimonials</span></h1>

            </div>

            <div class="ten columns flex-container">

               <div class="flexslider">

                  <ul class="slides">

                     <li>
                        <blockquote>
                           <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                           to do what you believe is great work. And the only way to do great work is to love what you do.
                           If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
                           </p>
                           <cite>Steve Jobs</cite>
                        </blockquote>
                     </li>

                     <li>
                        <blockquote>
                           <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                           Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                           nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                           </p>
                           <cite>Mr. Adobe</cite>
                        </blockquote>
                     </li>

                  </ul>

               </div>

            </div>

         </div>

       </div>

   </section> <!-- Testimonials Section End-->


   <!-- Contact Section
   ================================================== -->
   <!-- <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">

                  <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                  eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                  voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                  </p>

            </div>

         </div>

         <div class="row">

            <div class="eight columns">

               <form action="" method="post" id="contactForm" name="contactForm">
					<fieldset>

                  <div>
						   <label for="contactName">Name <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactName" name="contactName">
                  </div>

                  <div>
						   <label for="contactEmail">Email <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                  </div>

                  <div>
						   <label for="contactSubject">Subject</label>
						   <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                  </div>

                  <div>
                     <button class="submit">Submit</button>
                     <span id="image-loader">
                        <img alt="" src="{% static 'templateindex/images/loader.gif' %}">
                     </span>
                  </div>

					</fieldset>
				   </form>

               <div id="message-warning"> Error boy</div>
				   <div id="message-success">
                  <i class="fa fa-check"></i>Your message was sent, thank you!<br>
				   </div>

            </div>


            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

					   <h4>Address and Phone</h4>
					   <p class="address">
						   Jonathan Doe<br>
						   1600 Amphitheatre Parkway <br>
						   Mountain View, CA 94043 US<br>
						   <span>(123) 456-7890</span>
					   </p>

				   </div>

               <div class="widget widget_tweets">

                  <h4 class="widget-title">Latest Tweets</h4>

                  <ul id="twitter">
                     <li>
                        <span>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum
                        <a href="#">http://t.co/CGIrdxIlI3</a>
                        </span>
                        <b><a href="#">2 Days Ago</a></b>
                     </li>
                     <li>
                        <span>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi
                        <a href="#">http://t.co/CGIrdxIlI3</a>
                        </span>
                        <b><a href="#">3 Days Ago</a></b>
                     </li>
                  </ul>

		         </div>

            </aside>

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
              <li><a href="https://www.facebook.com/andrewburger4838"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/andrewixl"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://plus.google.com/u/0/+AndrewBurgerandrewixl"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="https://www.linkedin.com/in/andrewburger4383/"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.instagram.com/andrewixl/"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.andrewburger.gq/"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="https://hatscripts.com/addskype?andrewixl"><i class="fa fa-skype"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2017</li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="{% static 'templateindex/js/jquery-migrate-1.2.1.min.js' %}"></script>

   <script src="{% static 'templateindex/js/jquery.flexslider.js' %}"></script>
   <script src="{% static 'templateindex/js/waypoints.js' %}"></script>
   <script src="{% static 'templateindex/js/jquery.fittext.js' %}"></script>
   <script src="{% static 'templateindex/js/magnific-popup.js' %}"></script>
   <script src="{% static 'templateindex/js/init.js'%}"></script>

</body>

</html>
